body
{
    margin: 0;
    padding: 0;
    background-image: url("../img/back.png");
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
    font-family: sans-serif;
}